<!DOCTYPE html>
<html lang="en">
  <%- include("./components/head") %>
  <body>
    <div class="layer"></div>
    <!-- ! Body -->
    <a class="skip-link sr-only" href="#skip-target">Asosiy menu</a>
    <div class="page-flex">
      <!-- ! Sidebar -->
      <%- include("./components/sidebar") %>
      <div class="main-wrapper">
        <!-- ! Main nav -->
        <%- include("./components/navbar") %>
        <!-- ! Main -->
        <main class="main users chart-page" id="skip-target">
          <div class="container">
            <h1 class="text-primary m-4">Bugungi Murojatlar</h1>
            <div class="row">
              <div class="col-12 mx-2">
                <div class="table-responsive custom-table-responsive">
                  <table class="table custom-table">
                    <thead>
                      <tr>
                        <th scope="cols">Order</th>
                        <th scope="cols">Name</th>
                        <th scope="cols">Occupation</th>
                        <th scope="cols">Contact</th>
                        <th scope="cols">Education</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr scope="row">
                        <td>1392</td>
                        <td><a href="#">James Yates</a></td>
                        <td>
                          Web Designer
                          <small class="d-block"
                            >Far far away, behind the word mountains</small
                          >
                        </td>
                        <td>+63 983 0962 971</td>
                        <td class="text-center">
                          <span class="icon delete" aria-hidden="true"></span>
                        </td>
                      </tr>
                      <tr>
                        <td>4616</td>
                        <td><a href="#">Matthew Wasil</a></td>
                        <td>
                          Graphic Designer
                          <small class="d-block"
                            >Far far away, behind the word mountains</small
                          >
                        </td>
                        <td>+02 020 3994 929</td>
                        <td class="text-center">
                          <span class="icon delete" aria-hidden="true"></span>
                        </td>
                      </tr>
                      <tr>
                        <td>9841</td>
                        <td><a href="#">Sampson Murphy</a></td>
                        <td>
                          Mobile Dev
                          <small class="d-block"
                            >Far far away, behind the word mountains</small
                          >
                        </td>
                        <td>+01 352 1125 0192</td>
                        <td class="text-center">
                          <span class="icon delete" aria-hidden="true"></span>
                        </td>
                      </tr>
                      <tr>
                        <td>9548</td>
                        <td><a href="#">Gaspar Semenov</a></td>
                        <td>
                          Illustrator
                          <small class="d-block"
                            >Far far away, behind the word mountains</small
                          >
                        </td>
                        <td>+92 020 3994 929</td>
                        <td class="text-center">
                          <span class="icon delete" aria-hidden="true"></span>
                        </td>
                      </tr>
                      <tr>
                        <td>4616</td>
                        <td><a href="#">Matthew Wasil</a></td>
                        <td>
                          Graphic Designer
                          <small class="d-block"
                            >Far far away, behind the word mountains</small
                          >
                        </td>
                        <td>+02 020 3994 929</td>
                        <td class="text-center">
                          <span class="icon delete" aria-hidden="true"></span>
                        </td>
                      </tr>
                      <tr>
                        <td>9841</td>
                        <td><a href="#">Sampson Murphy</a></td>
                        <td>
                          Mobile Dev
                          <small class="d-block"
                            >Far far away, behind the word mountains</small
                          >
                        </td>
                        <td>+01 352 1125 0192</td>
                        <td class="text-center">
                          <span class="icon delete" aria-hidden="true"></span>
                        </td>
                      </tr>
                      <tr>
                        <td>9548</td>
                        <td><a href="#">Gaspar Semenov</a></td>
                        <td>
                          Illustrator
                          <small class="d-block"
                            >Far far away, behind the word mountains</small
                          >
                        </td>
                        <td>+92 020 3994 929</td>
                        <td class="text-center">
                          <span class="icon delete" aria-hidden="true"></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <h1 class="text-primary m-4">08.05.2023 kungi murojatlar</h1>
            <div class="row">
              <div class="col-12 mx-2">
                <div class="table-responsive custom-table-responsive">
                  <table class="table custom-table">
                    <thead>
                      <tr>
                        <th scope="cols">Order</th>
                        <th scope="cols">Name</th>
                        <th scope="cols">Occupation</th>
                        <th scope="cols">Contact</th>
                        <th scope="cols">Education</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr scope="row">
                        <td>1392</td>
                        <td><a href="#">James Yates</a></td>
                        <td>
                          Web Designer
                          <small class="d-block"
                            >Far far away, behind the word mountains</small
                          >
                        </td>
                        <td>+63 983 0962 971</td>
                        <td class="text-center">
                          <span class="icon delete" aria-hidden="true"></span>
                        </td>
                      </tr>
                      <tr>
                        <td>4616</td>
                        <td><a href="#">Matthew Wasil</a></td>
                        <td>
                          Graphic Designer
                          <small class="d-block"
                            >Far far away, behind the word mountains</small
                          >
                        </td>
                        <td>+02 020 3994 929</td>
                        <td class="text-center">
                          <span class="icon delete" aria-hidden="true"></span>
                        </td>
                      </tr>
                      <tr>
                        <td>9841</td>
                        <td><a href="#">Sampson Murphy</a></td>
                        <td>
                          Mobile Dev
                          <small class="d-block"
                            >Far far away, behind the word mountains</small
                          >
                        </td>
                        <td>+01 352 1125 0192</td>
                        <td class="text-center">
                          <span class="icon delete" aria-hidden="true"></span>
                        </td>
                      </tr>
                      <tr>
                        <td>9548</td>
                        <td><a href="#">Gaspar Semenov</a></td>
                        <td>
                          Illustrator
                          <small class="d-block"
                            >Far far away, behind the word mountains</small
                          >
                        </td>
                        <td>+92 020 3994 929</td>
                        <td class="text-center">
                          <span class="icon delete" aria-hidden="true"></span>
                        </td>
                      </tr>
                      <tr>
                        <td>4616</td>
                        <td><a href="#">Matthew Wasil</a></td>
                        <td>
                          Graphic Designer
                          <small class="d-block"
                            >Far far away, behind the word mountains</small
                          >
                        </td>
                        <td>+02 020 3994 929</td>
                        <td class="text-center">
                          <span class="icon delete" aria-hidden="true"></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </main>
        <!-- ! Footer -->
        <%- include("./components/footer") %>
      </div>
    </div>
    <!-- Scripts -->
    <%- include("./components/scripts") %>
  </body>
</html>
